html {
  scroll-behavior: smooth;
}

.fontQ {
  font-family: 'Quattrocento', serif;
}

h1 {
  font-family: 'Pinyon Script', cursive;
}

.reservationButton {
  position: relative; top:100px; right:100px;
}

.jumbotron {
  padding: 7rem;
}

@media (min-width: 1000px) {
  .jumbotron {
     padding: 12rem;
  }
}

@media (min-width: 750px) {
  iFrame {
     width: 500px;
     height: 500px;
  }
}

@media (min-width: 1000px) {
  #reservationButton {
    position: relative; top:150px; right:125px;
  }
}
