html {
  scroll-behavior: smooth;
}

.fontQ {
  font-family: 'Quattrocento', serif;
}

h1 {
  font-family: 'Pinyon Script', cursive;
}

.reservationButton {
  position: relative; top:100px; right:100px;
}

@media (min-width: 1000px) {
  #reservationButton {
    position: relative; top:150px; right:125px;
  }
}
